/* tslint:disable */
<% for (var modelName in models) {
  // capitalize the model name
  modelName = modelName[0].toUpperCase() + modelName.slice(1);
-%>
export * from './<%- modelName %>';
<% } // for modelName in models -%>
export * from './BaseModels';
<% if ( isIo === 'enabled' ){ -%> //export * from './FireLoopRef';
<% }
-%>

